@model ProgramacionWeb3TP.Models.Carpeta

@{
    ViewBag.Title = "Editar Tarea";
}

<div class="container">
    <div class="row profile">
        <div class="col-md-12 col-sm-12">
            <h2 class="paddingLeftTitles">Editar Carpeta</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 col-sm-12">
            @if (TempData["Error"] != null)
            {//si existe un error
                <div class="col-md-6 col-md-offset-3">
                    <div class="alert alert-danger text-center">
                        <h5>@TempData["Error"]</h5>
                    </div>
                </div>
            }
            @using (Html.BeginForm("EdicionCarpeta", "Carpetas"))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.IdCarpeta)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-block btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                <a href="/C"></a>
            </div>
        </div>
    </div>
</div>