@model ProgramacionWeb3TP.Models.Tarea

@{
    ViewBag.Title = "Tarea - Detalle";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="paddingLeftTitles">Tarea - Detalle</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p>@Model.Nombre</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p>@Model.Descripcion</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstimadoHoras, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p>@Model.EstimadoHoras</p>
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p>@Model.FechaFin</p>
                    </div>
                </div>

                <div class="form-group">

                    @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @switch (@Model.Prioridad) {
                            case 1:
                                <p>Urgente</p>
                                break;
                            case 2:
                                <p>Alta</p>
                                break;
                            case 3:
                                <p>Media</p>
                                break;
                            case 4:
                                <p>Baja</p>
                                break;
                            default:
                                <p>Sin prioridad</p>
                                break;
                        }

                    @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p>@Model.FechaFin</p>
                    </div>
                </div>

                <div class="form-group">
                        @switch (@Model.Prioridad)
                        {
                            case 1:
                                <p>Urgente</p>
                                break;
                            case 2:
                                <p>Alta</p>
                                break;
                            case 3:
                                <p>Media</p>
                                break;
                            case 4:
                                <p>Baja</p>
                                break;
                            default:
                                <p>Sin prioridad</p>
                                break;
                        }
                    </div>
                </div>
                <!-- Nuevo Comentario -->
                <div class="form-group">
                    <h3>Comentarios</h3>
                    <form action="/Tareas/CrearComentario" method="post">
                        <div class="col-md-2">
                            <input type="hidden" id="idTarea" name="idTarea" value="@Model.IdTarea">
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="comentario" name="texto" />
                        </div>
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"></span>Nuevo comentario
                        </button>


                <div class="form-group">
                    @Html.LabelFor(model => model.Completada, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @switch (@Model.Completada)
                        {
                            case 1:
                                <p>Completada</p>
                                break;
                            case 0:
                                <p>Sin completar</p>
                                break;
                            default:
                                <p>Sin especificar</p>
                                break;
                        }
                    </div>
                </div>
                <!-- Nuevo Comentario -->
                <div class="form-group">
                    <h3>Comentarios</h3>
                    <form action="/Tareas/CrearComentario" method="post">
                        <div class="col-md-2">
                            <input type="hidden" id="idTarea" name="idTarea" value="@Model.IdTarea">
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="comentario" name="texto" />
                        </div>
                        <input type="submit" value="Agregar" />

                    </form>
                </div>
                <!-- Listado de Comentarios -->
                <div class="form-group">
                    @foreach (var com in Model.ComentarioTarea.OrderByDescending(c => c.FechaCreacion))
                    {
                        <div class="col-md-2">
                            <p><strong>@com.FechaCreacion.ToShortDateString()</strong>  @com.FechaCreacion.ToShortTimeString()</p>
                        </div>
                        <div class="col-md-10">
                            <p>@com.Texto</p>
                            @Html.ActionLink("X", "EliminarComentario", new { idComentario = com.IdComentarioTarea })
                        </div>
                    }
                </div>

                @if (Model.ArchivoTarea != null || Model.ArchivoTarea.Count > 0)
                {
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    Archivo
                                </th>
                                <th>
                                    Fecha subida
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var archivo in Model.ArchivoTarea)
                            {
                                <tr>
                                    <td><a href="@archivo.RutaArchivo">@archivo.RutaArchivo</a></td>
                                    <td>@archivo.FechaCreacion.ToShortDateString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p> Usted no contiene archivos adjuntados a la tarea. Haciendo Click en el boto "Nuevo Adjunto" puede subir archivos </p>
                }
            </div>
        </div>
    </div>
</div>

