<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Taskie</title>
    <!--<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />-->
    <!-- Estilos propios -->
    <link href="~/Content/customStyles.css" rel="stylesheet" type="text/css" />

    <!-- Tema personalizado -->
    <link href="~/Content/customTheme.css" rel="stylesheet" type="text/css" />

    <!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />-->
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="#">Project name</a>-->
                @Html.ActionLink("Taskie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (@Session["usuarioSesionId"] != null) {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right ">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hola, @Session["usuarioSesionNombre"] <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Usuario/Modificar/@Session["usuarioSesionId"]"><i class="icon-cog"></i> Modificar mi perfil</a></li>
                                <li><a href="/Carpetas/Index/@Session["usuarioSesionId"]"><i class="icon-cog"></i> Mis carpetas</a></li>
                                <li><a href="/Tareas/Index/@Session["usuarioSesionId"]"><i class="icon-envelope"></i> Mis tareas</a></li>
                                <li class="divider"></li>
                                <li><a href="/Usuario/Logout"><i class="icon-off"></i> Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>

    @RenderBody()
    <footer class="footer">
        <hr />
        <p>&copy; @DateTime.Now.Year - Programación Web 3 - Equipo: [ { Barraza, A. Romina } , { Rapetti, Nahuel } ]</p>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>