@model ProgramacionWeb3TP.Models.Usuario
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <h2 class="paddingLeftTitles">Login</h2>
            <hr />
        </div>
    </div>
    <div class="row">

        @if (ViewBag.Error != null) {//si existe un error de logueo
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger text-center">
                    <h5>@ViewBag.Error</h5>
                </div>
            </div>
        }
        else if (Session["Action"] != null) {//si se intenta ingresar a una pagina de administracion sin loguearse
            <div class="col-md-6 col-md-offset-3">
                <div class="alert alert-danger text-center">
                    <h5>Necesita estar logueado para ingresar a esta pagina</h5>
                </div>
            </div>
        }

        @using (Html.BeginForm("VerificarUsuario", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {//formulario de login
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="form-control">
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email" })
                </div>
                @Html.ValidationMessage("Email")
            </div>
            <div class="form-group">
                <div class="form-control">
                    @Html.PasswordFor(model => model.Contrasenia, new { @placeholder = "Contraseña" })
                </div>
                @Html.ValidationMessage("Contrasenia")
            </div>

            <button type="submit" class="btn btn-info">Login</button><br /><br />
        }
    </div>

    <hr />
    @Html.ActionLink("¿No tenés cuenta? Ingresa acá", "Registracion", "Home", new { area = "" }, new { @class = "btn btn-lg btn-primary btn-block" })<!--Modificar estilo-->
</div>

<!-- Validaciones JS -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>